.px-5{
    padding-left: 50px;
    padding-right: 50px;
}


.py-3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-center{text-align: center;}

.bg-pink{background-color: pink;}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: pink;
    padding: 20px 15px;
    margin-top: 20px;
    border-radius: 10px;
}